<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	.zin{
    		height: 500px;
    	}
    </style>
  </head>
  <body>
    <div class="j-zin zin"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="/javascripts/gpec.js"></script>
  </body>
</html>
